<!DOCTYPE html>
<html lang="en">
<head>
  <title>Brain Potato</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>Brain Potato</h1>
  <p>Chaining words, unexpected relations potato fun! </p> 
</div>

<div class="row" style="float: left; padding-left: 80px;">
	<form action="/create_room" method="post">{% csrf_token %}
		<div class="column" id="card-nova">
			<h2>Anybody else yet?</h2>
			<input id="name" type="text" name="name" value="Your username:{{ name }}">
			<button type="submit" class="btn btn-success" id="button-nova" >Create a lobby</button>
		</div>
	</form>
	<div class="column" id="card-join">
		<h2>Join a Room!!</h2>
		<input type="text" placeholder="#AFOI">
		<button type="button" class="btn btn-info" id="button-join">Join game</button>
	</div>
</div>

	  