<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="wordinput.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<title>Brainpotato</title>
</head>
    <body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <form class="form-inline">
            <img src="potato.png" width="50" height="50" class="d-inline-block align-top" alt="">
            BrainPotato
            </form>
        </a>
    </nav>
    <div class="container">
            <div class="jumbotron text-center">
                <h1>Input's Lobby</h1>
                <div id="input_text"class="jumbotron text-center">
                    <label for="usr">Write 4 words:</label>
                    <input type="text" class="form-control" id="usr" onkeydown="search()">
                </div>
            </div>
        <ul id="list-words"></ul>   
    </div>
    <p id="error-input"></p>
    </body>
</html>